body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: gray;
  font-size: 21px;
}

footer {
  text-align: right;
  font-size: 21px;
  color: gray;
}

/*HEADINGS*/
h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

/*LINKS*/
.link--download {
  color: aquamarine;
  font-size: 16px;
}

/*MEDIA*/
.img--main {
  max-width: 80%;
  margin: 20px auto;
}
